
# Text/log files
*.log
resources.txt


# Python files
*/__pycache__/
*.pyc
test\.py
*.egg*
build/


# Test data files
data/Magnet.mp3
data/*.m4a
**/_files.txt
index_cache.json


# Cargo/Rust files
*.lock
**/target/
\.vscode/

